name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  ci-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install backend
        run: cd backend && npm install

      - name: Install frontend
        run: cd frontend && npm install

      - name: Build frontend
        run: cd frontend && npm run build
